
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    
    font-size: 1.2em;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
    height: 700px;
}
.footer {
  /*position: absolute;*/
    position: fixed
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 20px;
 /* line-height: 60px; */
}
#indexMain {
    margin-bottom: 0px;
    height: 690px;
    width: 100%;
}
#mainContainer {
    height: 690px;
    width: 100%;
    padding-top: 0.2rem;
    padding-right: 5px;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    background: #d5dce3;
}

#Main {
    height: 690px
}

#friendsAndChat {
    height: 100%;
    overflow: hidden;
}

#rowForMessageScroll {
    height: 620px;
    margin-bottom: 10px;
    
   /* overflow: hidden;*/
}

#searchDialog {
    padding-bottom: 25px;
}

#goSubmitButton {

}
#dialogRow {
    padding-bottom: 5px;
    padding-top: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#friends {
    height: 100%;
    padding-left: 0rem;
}

#chat {
    height: 100%;
}

#friendsBar {
   overflow-y: scroll;
    overflow-x: hidden;
    height: 560px;
}

#messagesBar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
    width: 840px;
}
#sendButton{ 
    width: 68px;
    height: 38px;
    margin-left: 5px;
}
#messageText {
    margin-left: 5px;
    width: 762px;
}

textAndButtonForSend {
    padding-left: 0px;
    margin-left: 0px;
    width: 690px;
}

#senderForDialog {
    font-size: 15px;
    font-weight: bold;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#loginContainer {
    padding-left: 0px;
    width: 160px;
}
#logout {
    padding-left: 15px;
}
#hello {
    font-size: 1rem;
    padding-left: 20px;
    margin-top: 20px;
}

#headerNavbar {
    width: 100%;
}
#footerContainer {
    height: 40px;
    padding-left: 45px;

}
#searchNewFriend {
    margin-bottom: 0rem;
    margin-left: 20px;
    margin-top: 2.5px;
}
/*#friends {
    height: 50%;
}

#chat {
    height: 50%;*/
/*   background: #e7ebf0;*/
/*}*/
/* Chat containers */
#chat .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 1px 0;
    width: 100%;
    font-family: "Open Sans", serif;
    /* overflow-wrap: break-word;*/
    word-wrap: break-word;
}

#chat .sender {
    font-size: 0.8em;
    font-family: 'Cantora One', cursive;
    font-size: 12px;

}

/* Darker chat container */
#chat .darker {
    border-color: #fff;
    background-color: #6c757d;
    float: right;
    border-color: #4972a6;
    margin-right: 10px;
}

/* Clear floats */
#chat .container:after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
#chat .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    #chat .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

/* Style time text */
#chat .time-right {
    float: right;
    color: #aaa;
    font-size: 12px;
}

/* Style time text */
#chat .time-left {
    float: left;
    color: #999;
    font-size: 12px;
}